:root {
  --fuschia-100: rgba(239, 93, 168, 1);
  --fuschia-80: rgba(241, 120, 182, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --gray-shadesbackground: rgba(9, 9, 10, 1);
  --lineicon: rgba(51, 54, 63, 1);
  --header-1-font-family: "Work Sans", Helvetica;
  --header-1-font-weight: 700;
  --header-1-font-size: 34px;
  --header-1-letter-spacing: -0.68px;
  --header-1-line-height: normal;
  --header-1-font-style: normal;
  --header-2-font-family: "Work Sans", Helvetica;
  --header-2-font-weight: 700;
  --header-2-font-size: 20px;
  --header-2-letter-spacing: -0.4px;
  --header-2-line-height: normal;
  --header-2-font-style: normal;
  --body-font-family: "Work Sans", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: -0.26px;
  --body-line-height: normal;
  --body-font-style: normal;
  --lightwhite: rgba(255, 255, 255, 1);
  --lineicon: rgba(51, 54, 63, 1);
  --danger: rgba(220, 53, 69, 1);
  --base-body-bold-font-family: "Roboto", Helvetica;
  --base-body-bold-font-weight: 500;
  --base-body-bold-font-size: 14px;
  --base-body-bold-letter-spacing: 0px;
  --base-body-bold-line-height: 22px;
  --base-body-bold-font-style: normal;
}
